@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

.options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    width: 100%;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}